# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes

# IDEs
.idea/
.vscode/

# Temporary / backup
*.log
*.tmp
*~
*.swp
*.swo
